@import "~bootstrap/scss/bootstrap.scss";
.container{
    width: 450px;
     
}
.box {
      height: 150px;
    border: 1px solid black;
}

body{
    background: gray;
}

#player{
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    
    margin-bottom: 8px;
}